article
{
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	width :940px;
	
}
p:first-letter 
{
	font-weight: bold;
}

:not(p)+p:first-line 
{
	font-variant: small-caps;
}

h2 + p {
text-indent: 0;
width: 940px;
}

h2 
{
	border-bottom: 2px solid #333333;
	margin-top: 30px;
	width: 940px;
}
figure 
{
	background-color: #F2EDED;
	border: 1px solid #ccc;
	text-align: center;
	padding: 15px;
	margin: 30px;
	max-width:940px;
}
figcaption 
{
	font-style: italic;
	margin-top: 10px;
}
p 
{
	text-align: justify-all;
	padding: 0 45px;
	text-indent: 15px;
	width: 940px;
}
ul 
{
	padding: 0 45px;
	text-indent: 15px;
	text-align: left;
}
#centro-distribuicao 
{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}
#familia-pelho 
{
	float: right;
	margin: 0 0 10px 10px;
	max-width:940px;
}
.container 
{
	margin: 0 auto;
}
#Copyright 
{
	color: #777;
	padding: 15px 0;
}
#Copyright img 
{
	vertical-align: middle;
	float: left;
	margin: 15px 0;
	padding: 15px 0;
}
footer 
{
	background-image: url(../img/fundo-rodape.png);
}
.social a 
{
	/* tamanho da imagem */
	height: 32px;
	width: 32px;
	/* image replacement */
	display: block;
	text-indent: -9999px;
}
.social a[href*="facebook.com"] 
{
	background-image: url(../img/facebook.png);

}
.social a[href*="twitter.com"] 
{
	background-image: url(../img/twitter.png);

}
.social a[href*="plus.google.com"] 
{
	
	background-image: url(../img/googleplus.png);
}
footer 
{

	padding: 20px 0;

}
footer .container 
{

	position: relative;
}
.social 
{
	position: absolute;
	top: 12px;
	right: 0;
}
.social li 
{
	float: left;
	margin-left: 25px;
}
